.footer {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #395ca9;
    border: 1px solid black;
    
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 1vh;
    padding-right: 2vw;
    width: 12vw;

}

.social-icon  {
    height: 4vh;
    width: auto;
    /* padding: vw; */

}

.email {
    height: 11vh;
    width: auto;
}

small {
    color: white;
    justify-content: first baseline;
    padding-left: 2vw;

}