.header {
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #395ca9
}

img {
    height: 10vh;
    width: auto;
    margin-bottom: 10px;
}